@import "../../../styles/_variables.css";

.diagram-bar {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diagram-bar__inner {
    height: 100%;
    width: 20px;
    border-radius: 20px;
    background-color: var(--color-secondary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.diagram-bar__fill {
    background: var(--linear-gradient-0);
    width: 100%;
    transition: all 0.5s ease;
}

.diagram-bar__label {
    font-size: 12px;
    text-align: center;
}
